<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=10.0, user-scalable=yes">
<h1><button class=""><a href="">サイト名</a></button></h1>
<!--a class="btn btn-lg btn-block" href="#" role="button">サイト名</a-->
<div style="border-style: solid ; border-width: 5px;"><a href="books/detail/1">タイトル</a><br>作者　<br>サマリ</div>

<div style="border-style: solid ; border-width: 5px;"><a href="books/detail/2">成功者の生活習慣革命</a><br>斎藤俊介
<br>日本一多い苗字</div>

<div style="border-style: solid ; border-width: 5px;"><a href="books/detail/3">お金2.0 新しい経済のルールと生き方</a><br>佐藤 航陽
<br>今後はお金の価値がどんどん下がり、資本主義から価値主義に移行していく。</div>

<div style="border-style: solid ; border-width: 5px;"><a href="books/detail/4">ビジネス名著大全 </a><br>橋本 忠明<br>ビジネス始める方向け</div>

<div style="border-style: solid ; border-width: 5px;"><a href="books/detail/5">非常識な成功法則</a><br>神田昌典<br>成功したいならこの本</div>
<div> <%= debug(params) if Rails.env.development? %><!-->開発環境においてのみ表示<--></div>
</body>
</html>