<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=10.0, user-scalable=yes">
<h1>成功者の生活習慣革命</h1>
<div>斎藤俊介 </div>
<div>真のビジネスマンとは？
生活習慣を変えるだけであなたの時間、お金、幸福は増えていく一方である。
本書では大企業の社員が実際に行っている日々の業務や生活での工夫を包み隠さず明かす最強のビジネス書である。</div>
<div><a href="https://www.amazon.co.jp/%E6%88%90%E5%8A%9F%E8%80%85%E3%81%AE%E7%94%9F%E6%B4%BB%E7%BF%92%E6%85%A3%E9%9D%A9%E5%91%BD-%E6%96%8E%E8%97%A4%E4%BF%8A%E4%BB%8B-ebook/dp/B078RB28BH/ref=sr_1_8?s=books&ie=UTF8&qid=1519795641&sr=1-
8&keywords=%E6%88%90%E5%8A%9F%E3%80%80%E9%9D%A9%E5%91%BD" rel="noopener" target="_blank">
  購入はこちら</a></div>
</body>
</html>