<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<h1><button class=""><a href="https://libtech-ric2020.c9users.io/">サイト名</a></button></h1>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=10.0, user-scalable=yes">
<h2>ビジネス名著大全 </h2>
<div>橋本 忠明</div>
<div>経営・ビジネス書(とくに翻訳書)は大部のものが多く、時代背景やビジネスカルチャーが違うので理解するのに時間もお金も膨大にかかる。また、玉石混淆、「焼き直し」の本が多い。
本書では、思想・戦略/実行・実践/失敗・危機・衰退/変革・復活/成功企業分析+法則化/マネジメント/マーケティング/イノベーションといった分野にわけ、代表書の読ませどころを解説していく。</div>
<div><a href="https://www.amazon.co.jp/%E3%83%93%E3%82%B8%E3%83%8D%E3%82%B9%E5%90%8D%E8%91%97%E5%A4%A7%E5%85%A8-%E6%A9%8B%E6%9C%AC-%E5%BF%A0%E6%98%8E/dp/4532321867/ref=sr_1_13?s=books&ie=UTF8&qid=1519796292&sr=1
-13&keywords=%E3%83%93%E3%82%B8%E3%83%8D%E3%82%B9%E6%9B%B8" rel="noopener" target="_blank">
  購入はこちら</a></div>
</body>
</html>