<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<h1><button class=""><a href="https://libtech-ric2020.c9users.io/">サイト名</a></button></h1>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=10.0, user-scalable=yes">
<h2>お金2.0 新しい経済のルールと生き方</h2>
<div>佐藤 航陽</div>
<div>「資本主義」を革命的に書き換える「お金2.0」とは何か。2.0のサービスは、概念そのものを作り出そうとするものが多いので、既存の金融知識が豊富な人ほど理解に苦しみます。その典型がビットコインです。あまりにも既存社会の常識とは違うので「今の経済」のメインストリームにいる人たちにとっては懐疑や不安の対象になりやすいといった特徴もあります。そして、それこそが全く新しいパラダイムであることの証でもあります。
本書ではまずお金や経済の仕組みから、テクノロジーの進化によって生まれた「新しい経済」のカタチ、最後に私たちの生活がいかに変わるか、の順番に解体していきます。</div>
<div><a href="https://www.amazon.co.jp/%E3%81%8A%E9%87%912-0-%E6%96%B0%E3%81%97%E3%81%84%E7%B5%8C%E6%B8%88%E3%81%AE%E3%83%AB%E3%83%BC%E3%83%AB%E3%81%A8%E7%94%9F%E3%81%8
D%E6%96%B9-NewsPicks-Book-%E4%BD%90%E8%97%A4/dp/4344032152" rel="noopener" target="_blank">
  購入はこちら</a></div>
</body>
</html>